:root {
    --body-background-color: #FAFAFA;
    --body-text-color: #002626;
    --card-background-color: #ffffff;
    --nav-background-color: #ffffff;
    --nav-border-bottom-color: #d8e8e4;
    --nav-current-border-bottom-color: #2196F3;
    --card-border-color: #d8e8e4;
    --down-border-left-color: #eb3b5a;
    --down-background-color: #ffd0d2;
    --degraded-border-left-color: #f7b731;
    --up-border-left-color: #2196F3;
    --tag-color: #ffffff;
    --tag-up-background-color: #2196F3;
    --tag-down-background-color: #eb3b5a;
    --tag-degraded-background-color: #f7b731;
    --change-background-color: #f7b731;
    --error-button-border-color: #1976D2;
    --error-button-background-color: #2196F3;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1976D2;
    --submit-button-background-color: #2196F3;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
  }
